.lesson-margin-center() {
  margin: 0 auto;
}

.lesson-flex-align-center() {
  display: flex;
  align-items: center;
}

.lesson-flex-center() {
  display: flex;
  align-items: center;
  justify-content: center;
}

.lesson-flex-between() {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.lesson-flex-wrap-align-between() {
  flex-wrap: wrap;
  align-content: space-between;
}

.lesson-border_radius (@radius: 5px) {
  -webkit-border-radius: @radius;
  -moz-border-radius: @radius;
  -ms-border-radius: @radius;
  -o-border-radius: @radius;
  border-radius: @radius;
}

.lesson-transition(@trans) {
  -webkit-transition: @trans;
  -moz-transition: @trans;
  -ms-transition: @trans;
  -o-transition: @trans;
  transition: @trans;
}

.lesson-box-shadow(@shadow1, @shadow2) {
  -moz-box-shadow: @shadow1, @shadow2;
  -webkit-box-shadow: @shadow1, @shadow2;
  box-shadow: @shadow1, @shadow2;
}

.lesson-box-shadow(@shadow) {
  -moz-box-shadow: @shadow;
  -webkit-box-shadow: @shadow;
  box-shadow: @shadow;
}

.lesson-keyframes (@prefix,@name,@content) when (@prefix=def) {
  @keyframes @name {
    @content();
  }
}

.lesson-keyframes (@prefix,@name,@content) when (@prefix=moz) {
  @-moz-keyframes @name {
    @content();
  }
}

.lesson-keyframes (@prefix,@name,@content) when (@prefix=o) {
  @-o-keyframes @name {
    @content();
  }
}

.lesson-keyframes (@prefix,@name,@content) when (@prefix=webkit) {
  @-webkit-keyframes @name {
    @content();
  }
}

.lesson-keyframes (@prefix,@name,@content) when (@prefix=all) {
  .lesson-keyframes(moz, @name, @content);
  .lesson-keyframes(o, @name, @content);
  .lesson-keyframes(webkit, @name, @content);
  .lesson-keyframes(def, @name, @content);
}

.lesson-animation (@animation){
  animation:@animation;
  -moz-animation:@animation; /* Firefox */
  -webkit-animation:@animation; /* Safari and Chrome */
  -o-animation:@animation; /* Opera */
}