
.lesson-margin-center() {
  margin: 0 auto;
}

.lesson-flex-align-center() {
  display: flex;
  align-items: center;
}

.lesson-flex-center() {
  display: flex;
  align-items: center;
  justify-content: center;
}

.lesson-flex-between() {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.lesson-flex-wrap-align-between() {
  flex-wrap: wrap;
  align-content: space-between;
}

.lesson-border_radius (@radius: 5px) {
  -webkit-border-radius: @radius;
  -moz-border-radius: @radius;
  -ms-border-radius: @radius;
  -o-border-radius: @radius;
  border-radius: @radius;
}