// Here are the variables to cover, such as:
//@primary-color: #8c0776;

@lesson-normal-height: 64px;
@lesson-normal-padding-width: 64px;
@lesson-normal-width: 1248px;
@lesson-form-width: 400px;
@lesson-normal-font-size: 16px;
@layout-body-background: white;