// margin
.lesson-no-margin {
  margin: 0;
}

// 社交图标
.lesson-login-social {
  margin-top: 30px;
  margin-bottom: 10px;
  text-align: center;
}

// 路由动效
.lesson-opacity-enter {
  opacity: 0;
}
.lesson-opacity-enter-active {
  transition: opacity 0.5s ease;
}
.lesson-opacity-enter-to {
  opacity: 1;
}
.lesson-opacity-leave {
  opacity: 1;
}
.lesson-opacity-leave-active {
  transition: opacity 0.5s ease;
}
.lesson-opacity-leave-to {
  opacity: 0;
}

// 鼠标指针
.lesson-cursor-pointer {
  cursor: pointer;
}

// 文字
.lesson-text-left {
  text-align: left;
}
.lesson-text-center {
  text-align: center;
}
.lesson-text-right {
  text-align: right;
}